<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      @media only screen and (max-width: 620px) {
        td.spacing {
            font-size: 0;
            width: 0;
        }
        td.body {
          width: 100% !important;
          min-width: 100%;
          padding: 0 !important;
        }
        div.container {
          width: 100%;
          min-width: 100%;
          margin: 0;
        }
      }
    </style>
  </head>
  <body style="background-color: #f6f6f6; font-family: sans-serif; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; -webkit-text-size-adjust: none;">
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="background-color: #f6f6f6; width: 100%;">
      <tr>
        <td class="spacing">&nbsp;</td>
        <td class="body" style="display: block; max-width: 580px; padding: 10px; width: 580px; margin: 0 auto;">
          <div class="container" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;">
            <table role="presentation" style="background-color: #ffffff; width: 100%;">
              <tr>
                <td style="padding: 20px;">
                  <p style="color: #666666; font-size: 16px; line-height: 1.6; margin: 0 0 16px 0;">
                    Hey {{.Values.fname}},
                  </p>

                  <p style="color: #666666; font-size: 16px; line-height: 1.6; margin: 0 0 16px 0;">
                    Thank you for registering for our Black Queer Climbers Fund. We have received your request and we will get back to you as soon as possible! If you have any questions, please don't hesitate to contact us.
                  </p>
                </td>
              </tr>
            </table>

            <table role="presentation" style="background-color: #f6f6f6; border-radius: 0 0 3px 3px; width: 100%;">
              <tr>
                <td style="padding: 20px; text-align: center;">
                  <p style="color: #999999; font-size: 12px; margin: 0;">
                    <a href="https://outclimb.gay" target="_blank" rel="noreferrer">OutClimb.gay</a> | <a href="mailto:info@outclimb.gay">info@outclimb.gay</a>
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </td>
        <td class="spacing">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
